.wallpaper-landing-page
{
    background-image: url("./louise-viallesoubranne-5EhN4wbfvBc-unsplash.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.795);
}
.content
{
    height: 100vh;
    background-color: rgba(6, 9, 23, 0.893);
    color: #fff;
    font-size: 3rem;
}
.hero-image-illustration
{
    width:100%;
    height: calc(100vh - 54.5px);
}
.hero-text
{
    background-color: rgba(0, 0, 0, 0.828);
    position:absolute;
    top:54.5px;
    width: 100%;
    height: calc(100vh - 54.5px);
    z-index: 10;
    font-size: 2rem;
    color: #fff;
}
.project-name
{
    font-size: 2rem;
}