.rightcolumn {
  //   float: left;
  width: 60%;
  // border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20%;
  padding-left: 30px;
  padding-right: 30px;
  height: 70%;
  border-left: none;
  position: sticky;
  padding-top: 4px;
  justify-content: center;
  padding-bottom: 5px;
  background-color: white;

  // margin-right:40px;
}
.crypto-news {
  min-width: 50%;
  height: 100vh;
  position: sticky;
}
.news {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: small;
  // background-color: white;
}
.apidata {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: white;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 4px;
  color: blue;
}
p:hover {
  color: black;
}
a:hover {
  color: black;
}
