.crypto-news {
  min-width: 35%;
  height: fit-content;
  overflow: scroll;
  position: sticky;
  top: 9rem;
}

.rightcolumn {
  margin-top: 50px;
  height: 75vh;

  justify-content: center;
  background-color: white;

  // margin-right:40px;
}

// .news {
//   padding-top: 10px;
//   padding-bottom: 2px;
//   padding-left: 5px;
//   font-size: small;
//   // background-color: white;
//   h2 {
//     position: sticky;
//     top: 0px;
//     background-color: #ffffff;
//     height: 3rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     color: #005edd;
//     font-size: 1rem;
//   }
// }

.apidata {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: white;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: none;
  color: blue;
}
p:hover {
  color: black;
}
a:hover {
  color: black;
}
