.left-section{
    width: 70%;
    background-color: #ffffff;
    padding-left: 5%;
  }
  .right-section {
    padding: 5px;
    width: 30%;
    background-color: #ffffff;
    height: auto;
    position: fixed;
    right: 0%;
   
    
    
   
  }
  