<<<<<<< Updated upstream
.tox-notifications-container {
  display: none;
}

=======
>>>>>>> Stashed changes
.modalBackground {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  /* background-color: #f9f9f9; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< Updated upstream
/* .img {
  display: inline-flex;
  float: right;
} */
=======
>>>>>>> Stashed changes
.modalContainer {
  width: 40rem;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.input-edit-profile {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 10px;
  height: 30px;
  padding: 0 2%;
}

.modalContainer .title {
<<<<<<< Updated upstream
  display: inline-flex;
  text-align: center;
  font-size: 0.7rem;
  justify-content: space-between;
  align-items: center;
  color: #808080;
}
svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
svg:hover {
  fill: red;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: 0.5s;
=======
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;

>>>>>>> Stashed changes
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
<<<<<<< Updated upstream
  width: 100px;
=======
  width: 150px;
>>>>>>> Stashed changes
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #64d488;
  color: white;
  border-radius: 8px;
<<<<<<< Updated upstream
  font-size: 1.2rem;
  cursor: pointer;
=======
  font-size: 20px;
  cursor: pointer;

>>>>>>> Stashed changes
}

#cancelBtn {
  background-color: crimson;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
