.main-container {
  max-width: 100%;
  width: 75rem;
  margin: 10px auto;
  align-items: center;
  padding: 10px;
}

.first-block {
  display: flex;
  align-items: center;
  position: relative;
  img {
    // display: inline-flex;
    width: 128px;
    height: 128px;
  }
  .user-info {
    // display: inline-block;
    flex-direction: column;
  }

  button {
    position: absolute;
    right: 0;
    margin: 10px 0 10px 10px;
  }
}

.nav-user {
  list-style-type: none;
  text-align: left;
  margin: 0;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;

  // button {
  //   margin: 5px;
  //   padding: 10px 10px;
  // }
  button {
    margin: 0.25%;
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    outline: none;
  }

  .active,
  button:hover {
    background-color: #666;
    color: white;
  }
}
