.main-container {
  max-width: 100%;
  width: 70%;
  margin: 10px auto;
  align-items: center;
  padding: 10px;
}

.first-block {
  display: flex;
  align-items: center;
  margin: 0.25%;
  img {
    // display: inline-flex;
    width: 128px;
    height: 128px;
  }
  .user-info {
    flex-direction: column;
    margin-left: 2%;
  }
  .btns {
    width: auto;
    margin-left: auto;

    button {
      padding: 5px 10px;
      border: 1px solid #838c95;
      border-radius: 4px;
      background: none;
      font-size: 15px;
      cursor: pointer;
      outline: none;
    }

    button:nth-of-type(1) {
      margin: 0 5px;
    }

    button:hover {
      background: #e3e6e8;
    }
  }
}

.nav-user {
  list-style-type: none;
  text-align: left;
  margin-top: 2%;
  padding: 5px 0;

  .active {
    background: black;
    color: white;
  }
  .active:hover {
    background: black;
    color: white;
  }
  button {
    margin: 0.25%;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    background: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    background: #f1f2f3;
    border-radius: 5px;
  }
}

.active-li {
  border-left: 2px solid black;
  border-radius: 0%;
}

.active-li:hover {
  border-left: 2px solid black;
  border-radius: 0%;
}
